label.css-wvv94f.e16fv1kl2 p {
  font-size: large;
}

div.css-keje6w.e1tzin5v2 {
  background-color: #f4f3f4;
  border: 2px solid green;
  padding: 2% 2% 2% 20%;
  border-radius: 10px;
  }

footer.css-h5rgaw.egzxvld1 {
  color: #ffffff;
}

footer.css-h5rgaw.egzxvld1 a {
  color: #ffffff;
}


div.css-184tjsw.e16nr0p34 p {
  font-size: large;
  font-weight: bold;
}

span.css-10trblm.e16nr0p30 {
  text-align: center;
}